@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    overflow-y: hidden;
}

.content {
    background-color: #263238;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.central-panel {
    padding: 20px 40px;
    background-color: #37474F;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.central-panel h1 {
    color: #FBFD1E;
}

form {
    margin: 10px 0;
}

form > * {
    display: block;
    margin: 17px 0;
    width: 100%;
    box-sizing: border-box;
}

input[type='text'], input[type='password'], input[type='email'], input[type='number'] {
    background-color: #263238;
    padding: 10px;
}

input[type='submit'] {
    padding: 10px 0;
    margin-top: 25px;
    background-color: #FED136;
    font-weight: bold;
    color: #212121;
}

input {
    color: whitesmoke;
    font-family: inherit;
    border-radius: 5px;
    border-style: hidden;
    font-size: 15px;
}

button:focus, input:focus, select:focus {
    outline: none;
    color: white;
}

h1 {
    font-weight: 400;
}

ul.side-nav {
    list-style-type: none;
    background-color: #37474F;
    margin: 0;
    padding: 20px 0;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
}

.side-nav a {
    padding: 15px 40px;
    font-size: 17px;
    font-weight: 300;
    display: block;
}

.side-nav .link:hover, .side-nav .link.active {
    background-color: #455A64;
    color: #FED136;
    transition: 0.2s ease-in-out;
}

.side-nav a {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    color: inherit;
}

.graphs {
    flex: 1;
    padding: 0 30px;
    overflow-y: scroll;
}

.graphs .flex-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.graphs h1 {
    font-weight: 700;
    font-size: 35px;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: block;
}

.chart-container {
    padding: 30px 25px;
    margin: 15px 30px;
    background-color: #212121;
    border-radius: 5px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
}

.chart-container p {
    font-size: 18px;
    font-weight: 300;
}

select {
    font-weight: 300;
    margin: 5px;
    min-width: 100px;
    padding: 5px;
    font-size: 16px;
    border-style: hidden;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: whitesmoke;
    background: url(/img/select-bg.png) 90% / 15% no-repeat #263238;
}

.chart-container p {
   margin: 0 20px 20px 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
    font-weight: 300;
    width: 20px;
    text-align: right;
    padding: 5px;
    margin: 5px;
    margin-right: 0;
    -moz-appearance: textfield;
}

#details-container {
    text-align: center;
    position: relative;
    width: 400px;
    padding-bottom: 110px;
}

.bottom-button {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    border-style: hidden;
    background-color: #FED136;
    color: #212121;
    font-size: 18px;
    padding: 20px 0;
    border-radius: 0 0 5px 5px;
}

.bottom-button.inactive {
    color: #FED136;
    background-color: #3b3b3b;
}

.bottom-button:focus {
    color: #212121;
}

.bottom-button.inactive:focus {
    color: #FED136;
}

.activity-container {
    height: 150px;
    overflow-y: scroll;
    background-color: #3b3b3b;
    border-radius: 5px;
}

.activity-container p {
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid #636262;
    color: #a3a3a3;
    text-align: left;
}

.big-data {
    padding: 30px 40px;
    color: #FFE57F;
}

.big-data h1 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 50px;
}

.big-data h2 {
    font-weight: 300;
    margin-bottom: 0;
}

#hour-groups {
    padding-top: 10px;
    height: 100%;
    width: 500px;
    overflow-y: scroll;
}

#hour-groups p {
    margin: 15px 0;
    height: 20px;
    display: block;
}

.hour-group {
    border-bottom: 1px solid #ababab;
}

.hour-group h3 {
    font-size: 23px;
    display: block;
    font-weight: 700;
}
.hour-group p span:first-child {
    float: left;
}

.hour-group p span:last-child {
    float: right;
}